        footer {
            padding: 1.5rem;
            background-color: $color;
            text-align: center;
            border-top: 2px solid rgb(0, 183, 255);
            font-size: 1.5rem;
            color: theme-color(text);

            .footer-cont {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 2rem;
            }

            .footer-co {
                min-width: 200px;

                h4 {
                    margin-bottom: 1rem;
                    font-size: 1.2rem;
                    border-bottom: 1px solid #555;
                    padding-bottom: 0.5rem;
                }

                ul {
                    list-style: none;
                    padding: 0;
                }

                li {
                    margin-bottom: 0.5rem;
                }

                a {
                    color: #ccc;
                    text-decoration: none;
                    transition: color 0.3s ease, transform 0.3s ease;
                }

                a:hover {
                    color: #00bcd4;
                    transform: scale(1.05);
                }
            }


        }