$theme: dark;
$fontname: Vazir FD;
$fontsize: 20px;
$dir: rtl;
$color_b:#3b9797;
$color: #16476A ;
$color_r:black;
$color_header: #4fcace;
$color_variables:#1055c9;
$media:678px;
$dark-theme: (
  bg: #121212,
  text: #f8f9fa,
  primary: #eeeeee,
  card: #1e1e1e
  
)
